<!DOCTYPE html>
<html lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>VUEJS DATA TABLE</title>
	<meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="main.css">
</head>

  <body>
      <div class="container">
      <p>
        <input type="text" id="myInput" class="form-control" placeholder="Rechercher...">
      <p>
      <div id="app">
        <div class="switch">
            <label>
              Mode Edition Off
              <input v-on:click="editable = !editable" type="checkbox">
              <span class="lever"></span>
              Mode Edition On
            </label>
        </div>
      <table id="myTable" class="table"> 
        <thead>
            <!-- <button class="btn btn-default" @click='addTableRow()'>Ajouter Une Intervention</button> -->
            <tr>
              <th>ID</th>
              <th>SOCIETE</th>
              <th>DEMANDEUR</th>
              <th>EMAIL</th>
              <th>ADRESSE</th>
              <th>NUMERO</th>
              <th>INTERVENANT</th>
              <th>RAPPORT</th>
              <th>SIGNE</th>
              <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody> 
              <tr id="editable" v-show="editable" v-for="(result, index) in results">
                  <td>{{ result.index }}</td>
                  <td><input v-model="result.Societe"></td>
                  <td><input v-model="result.Demandeur.Nom"> <input v-model="result.Demandeur.Prenom"></td>
                  <td><input v-model="result.Email"></td>
                  <td><input v-model="result.Adresse"></td>
                  <td><input v-model="result.numTel"></td>
                  <td><input v-model="result.Intervenant.Nom"><input v-model="result.Intervenant.Prenom"></td>
                  <td><input v-model="result.Rapport"></td>
                  <td v-if="result.isSigned" >
                      <div class="circle_green"></div>
                  </td>
              </tr>   
              <tr id="noneditable" v-show="!editable" v-for="(result, index) in results">
                  <td>{{ result.idIntervention }}</td>
                  <td>{{ result.Societe }}</td>
                  <td>{{ result.Demandeur.Nom }} {{ result.Demandeur.Prenom }}</td>
                  <td>{{ result.Email }}</td>
                  <td>{{ result.Adresse }}</td>
                  <td>{{ result.numTel }}</td>
                  <td>{{ result.Intervenant.Nom }} {{ result.Intervenant.Prenom }}</td>
                  <td>{{ result.Rapport }}</td>
                  <td v-if="result.isSigned" >
                      <div class="circle_green"></div>
                  </td>
                  <td v-if="result.isSigned === false">
                    <div class="circle_red"></div>
                  </td>
                  <td>
                      <button class="btn btn-danger" @click='deleteTableRow(index)'>Supprimer</button>
                  </td>
              </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="main.js"></script>
  <script src="script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>